.footer__bottom{
  background: #D4D3CD;
  text-align: center;
  padding: 50px 152px 26px 141px;
  &__links {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    column-gap: 10px;
    @media (max-width: 680px) {
      padding-bottom: 10px;
      flex-wrap: wrap;
    }
    & :hover{
      color: red;
    }
  }
  &-img {
    width: 100%;
    @media (max-width: 680px) {
      width: 195px;
      height: 27px;
    }
  }
  & a{
    font-weight: 400;
    font-size: 15px;
    color: #000000;
  }
  & p{
    color: #424242;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  &-img{
    width: 100%;
  }
}